<% @title = current_team.title + " dashboard" %>

<div class="row-fluid">
  <div class="span6 well">
    <div class="has-below-1">

      <div class="btn-group pull-right">
        <%= link_to("Conduct RCA", "", :class => "btn btn-primary ") %>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to("Update Bugs", refresh_team_path(current_team))%>
          </li>
        </ul>
      </div>
      
      <h3>Bugs for RCA</h3>
    </div>

    <% if @bugs.any? %>
      <table class="table table-stripped diag_details white-well">
        <% @bugs.each do |bug| %>
          <tr>
            <td>
              <%= render :partial => "bugs/bug", :locals => {:bug => bug, :full => false} %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="well white-well empty_content">
        There are no bugs imported from PT for which RCA is pending. <%= link_to("Click here", refresh_team_path(current_team))%> to refresh the list.
      </div>

    <% end %>

  </div>

  <div class="span6 well">
    <h3>Unresolved Follow ups</h3>

  </div>
</div>