<% @title = "Learnings so far in #{current_team.title}" %>
<div class="row-fluid">
  <div class="span12">
    <% if @root_causes.any? %>
      <table class="table table-stripped diag_details white-well">
        <% @root_causes.each do |root_cause| %>
          <tr>
            <td>
              <%= render :partial => "root_causes/root_cause", :locals => {:root_cause => root_cause, :full => true} %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="well white-well empty_content">
        There have been no learnings yet.
      </div>
    <% end %>
  </div>
</div>
