<div>
<div class="span8">
		<h2>What is a Root Cause Analysis?</h2>
		<div class="well">
		<p>A Root Cause   Analysis (RCA) is a process for identifying the basic or causal factors that   underlie variations in outcomes. An RCA typically allows you to identify the   &ldquo;root&rdquo; of the problem in a process, including how, where, and why a problem,   adverse event, or trend exists. This analysis should focus on a process that has   potential for redesign to reduce risk. The RCA is also a way of looking at   unexpected events and outcomes to determine all of the underlying causes of the   event and identify recommended changes that are likely to improve them. Through   an RCA, you can make decisions and look for sustainable solutions based on data   and facts. Remember that active failures are rarely root causes; rather, latent   conditions over which we have control are often the root cause of a problem. An   RCA focuses primarily on systems and processes, not individual performance. </p>
      <p>To begin, identify the underlying functions leading to poor outcomes. Then,   determine the primary cause(s) and contributing factors. An RCA is generally   broken down into the following steps:</p>
      <ul>
        <li>Collect data </li>
        <li>Analyze data </li>
        <li>Develop and evaluate corrective actions, using PDSA cycle </li>
        <li>Implement successful corrective actions </li>
      </ul>
		</div>
		</div>
		
  <div class="span4">
    <img class ="has-above-1" src="http://cdn.content.compendiumblog.com/uploads/user/2bd9d9ab-449b-4821-acac-a6196f1a3ed2/578c5ff1-569b-416b-bd96-d6540401fd46/Image/290643f9c9077aaa2d7a36118c2efe95.jpg" alt="Root Cause Analysis" />
  </div>
</div>
<div class="span10 well">
		<h2> No more of maintaining huge spreadsheets and difficulty in tracking bugs , root causes and followups.  Here comes RCA Made Easy. </h2> <br>
		<center><%= link_to("Sign Up Now", new_user_path(), :class => "btn-large btn-primary has-above-2") %></center>
  </div>