<div class="clearfix has-below-2">
  <h4>Causes</h4>
</div>
<div>
  <% if @bug.has_root_cause? %>
    <table class="table table-stripped white-well">
      <% root_causes.each do |root_cause| %>
        <tr>
          <td id="root_cause_entry_<%= root_cause.id %>">
            <%= render :partial => "root_causes/root_cause", :locals => {:root_cause => root_cause} %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <div id="add_cause_form_container" style="display:none;"> </div>
  <div id="add_cause_link" style="font-weight: bold;" >
    <% content = image_tag('Add.png', :class => 'arrow', :style => "width: 22px; margin-right: 5px;") + "Add Cause"  %>
    <%= link_to(content, new_root_cause_path(:bug_id => @bug.id), :remote => true)%>
  </div>
</div>