<% @title = "All Follow ups" %>

<div class="row-fluid">
  <div class="span12">
    <% if @followups.any? %>
      <%= paginate @followups %>
      <table class="table table-stripped white-well">
        <% @followups.each do |followup| %>
          <tr>
            <td id="followup_entry_<%= followup.id %>">
              <%= render :partial => "followups/followup", :locals => {:followup => followup, :full => true, :actions => true} %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="well white-well empty_content">
        There are no follow ups, go and do RCA!!
      </div>
    <% end %>
  </div>
</div>